{% extends 'index.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="container">
            <div class="main__col">
                <div class="main__title">
                    <h1>Travel Shop</h1>
                </div>
                <div class="main__btn">
                    <!-- <a href="#">Storage of products</a> -->
                    <a href="#popup" class="popup-link">Add new product</a>
                    <!-- <a href="#">Preparing a CSV file</a> -->
                </div>
                <div class="main__content">
                    <div class="container">
                        <div class="content__body">
                            <div class="content__row">
                                {% for item in products %}
                                    {% include 'mainapp/includes/inc__product_list.html' %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
{% endblock %}