
<div class="content__column">
    <div class="content__item">
        <div class="content__img">
            <img src="/media/{{ item.image }}" alt="">
        </div>
        <div class="subtitle">{{ item.name }}</div>
        <div class="price">{{ item.price }}$</div>
        <div class="description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut cum nostrum officiis cumque est itaque totam ea labore maxime sunt, assumenda facilis minima optio eius perspiciatis laudantium voluptas alias. Officia.</p>
        </div>
        <a href="#" class="add__btn">Buy</a>
    </div>
</div>
